body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.header_container{
    max-width: 1440px;
    width: 100%;
    background-color: #323232;
    margin: 0 auto;
   
}
.header_nav{
    margin-left: 14.5%;
}

.header_list{
    display: flex;
}
ul{
    margin: 0;
}
li:nth-child(2){
    font-size: 24px;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
}

.header_item{
    border-right: 1px solid #4D4D4D;
    list-style-type: none;
    padding: 20px 30px 16px 30px;
}

.header_item a{
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

.header_item_logo{
    list-style-type: none;
    margin-top: 17px;
}

li:nth-child(6){
    margin-left: 330px;
    border-left: 1px solid #4D4D4D;
}

.main_container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: url(img/imgg.png) no-repeat;
    background-size: cover;
}

.main_info{
    padding-top: 62px;
    text-align: center;
}

.main_info h1{
    padding-bottom: 36px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    margin: 0;
    line-height: 75px;
    font-weight: 400;
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.main_subtitle{
    padding-top:30 ;
    padding-bottom: 40.5px;
    color: white;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.main_button{
    margin-top: 10px;
    text-align: center;
   margin-bottom: 95px;
}

.main_button_link{
    padding: 10px 17px 10px 17px;
    border: 2px solid;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.main_button_link:hover{
    background-color: black;
}

.main_buttons_down{
    text-align: center;
    padding-bottom: 21px;
    margin-left: 48.7%;
}


.main_show_buttons{
    display: flex;
    flex-wrap: wrap;
}

.first_button{
    width: 5px;
    height: 5px;
    border: 2px solid;
    color: white;
    background-color: white;
    margin-right: 6px;
}

.second_button{
    width: 5px;
    height: 5px;
    border: 2px solid;
    margin-right: 6px;
    color: rgba(255, 255, 255, 0.4);;
    background-color: rgba(255, 255, 255, 0.4);;
}

.third_button{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    width: 5px;
    height: 5px;
    border: 2px solid;
    margin-right: 6px;
}

.research_grid_container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}