body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.header_container{
    max-width: 1440px;
    width: 100%;
    background-color: #323232;
    margin: 0 auto;
   
}
.header_nav{
    margin-left: 17.4%;
}

.header_list{
    display: flex;
}
ul{
    margin: 0;
}
li:nth-child(2){
    font-size: 24px;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
}

.header_item{
    border-right: 1px solid #4D4D4D;
    list-style-type: none;
    padding: 20px 30px 16px 30px;
}

.header_item a{
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

.header_item_logo{
    list-style-type: none;
    margin-top: 17px;
}

li:nth-child(6){
    margin-left: 330px;
    border-left: 1px solid #4D4D4D;
}

.main_container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: url(img/imgg.png) no-repeat;
    background-size: cover;
}

.main_info{
    padding-top: 70px;
    text-align: center;
}

.main_info h1{
    padding-bottom: 36px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 75px;
    color: white;
    text-transform: uppercase;
}